# Common settings
BasedOnStyle: WebKit
IndentWidth: 4

# ---
Language: Cpp

# Configure each individual brace in BraceWrapping
BreakBeforeBraces: Custom
# Control of individual brace wrapping cases
BraceWrapping: {
    BeforeElse : 'true'
}

# Pointer alignment next to variable name
PointerAlignment: Right
